@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-serif: var(--font-serif);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
}
